<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swpu.uchain.takeawayapplet.dao.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.swpu.uchain.takeawayapplet.entity.OrderDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="detail_id" property="detailId" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_price" property="productPrice" jdbcType="DECIMAL" />
    <result column="product_quantity" property="productQuantity" jdbcType="INTEGER" />
    <result column="creat_time" property="creatTime" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="product_icon" property="productIcon" jdbcType="LONGVARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.swpu.uchain.takeawayapplet.entity.OrderDetail" >
    insert into order_detail (id, order_id, detail_id, 
      product_id, product_name, product_price, 
      product_quantity, creat_time, update_time, 
      product_icon)
    values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{detailId,jdbcType=BIGINT}, 
      #{productId,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL}, 
      #{productQuantity,jdbcType=INTEGER}, #{creatTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, 
      #{productIcon,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.swpu.uchain.takeawayapplet.entity.OrderDetail" >
    update order_detail
    set order_id = #{orderId,jdbcType=BIGINT},
      detail_id = #{detailId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_quantity = #{productQuantity,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      product_icon = #{productIcon,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, order_id, detail_id, product_id, product_name, product_price, product_quantity, 
    creat_time, update_time, product_icon
    from order_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, order_id, detail_id, product_id, product_name, product_price, product_quantity, 
    creat_time, update_time, product_icon
    from order_detail
  </select>
  <select id="selectByOrderId" resultMap="BaseResultMap">
     select id, order_id, detail_id, product_id, product_name, product_price, product_quantity,
    creat_time, update_time, product_icon
    from order_detail
    where order_id=#{orderId}
  </select>
</mapper>