<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swpu.uchain.takeawayapplet.dao.OrderMasterMapper">
  <resultMap id="BaseResultMap" type="com.swpu.uchain.takeawayapplet.entity.OrderMaster">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="open_id" jdbcType="BIGINT" property="openId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_phone" jdbcType="INTEGER" property="userPhone" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
    <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="creat_time" jdbcType="VARCHAR" property="creatTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from order_master
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.swpu.uchain.takeawayapplet.entity.OrderMaster">
    insert into order_master (id, open_id, user_name, 
      user_phone, user_address, order_amount, 
      order_status, pay_status, creat_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{openId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{userPhone,jdbcType=INTEGER}, #{userAddress,jdbcType=VARCHAR}, #{orderAmount,jdbcType=DECIMAL}, 
      #{orderStatus,jdbcType=INTEGER}, #{payStatus,jdbcType=INTEGER}, #{creatTime,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.swpu.uchain.takeawayapplet.entity.OrderMaster">
    update order_master
    set open_id = #{openId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=INTEGER},
      user_address = #{userAddress,jdbcType=VARCHAR},
      order_amount = #{orderAmount,jdbcType=DECIMAL},
      order_status = #{orderStatus,jdbcType=INTEGER},
      pay_status = #{payStatus,jdbcType=INTEGER},
      creat_time = #{creatTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, open_id, user_name, user_phone, user_address, order_amount, order_status, 
    pay_status, creat_time, update_time
    from order_master
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, open_id, user_name, user_phone, user_address, order_amount, order_status, 
    pay_status, creat_time, update_time
    from order_master
  </select>
</mapper>